.example-card {
  max-width: 400px;
  margin:25px; 
  justify-content:center;
  width: 400px;
  box-sizing: border-box;
}

.example-header-image {
  background-image: url('../../assets/images/icon-rashi.png');
  background-size: cover;
}

.stars{
  width:20px;}

#img1{
width:20vw;
height: 30vh;
}